*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    
}

/* Header section */

header{
    font-size: 20px;
    background-color: rgb(161, 237, 196);
    height: 60vh;
    padding: 20px 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.first{
    display: flex;
    justify-content: space-between;
}

.second{
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    display: flex ;
    gap: 10px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.slogan{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 8px;
}

.slogan button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.slogan h1{
    font-size: 48px;
}

/*the section of the showroom */

.showroom{
    color: #f9faf8;
    height: 35vh;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: darkslategrey;
}

.showroom h2{
    font-size:26px;
    text-transform: uppercase;
}

.container{
    display: flex;
    gap: 10px;
}



.one,
.two,
.three,
.four{
    max-width: 200px;
    text-align: center;
}

.container img{
    border-radius:5px ;
    border: 1px solid wheat;
}

/* the section of the feedback */

.feedback{
    color: #1f2937;
    background-color: #e5e7eb;
    padding: 0 410px;
    display: flex;
    height: 35vh;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.feedback p{
    font-size: 26px;
    font-style: italic;
}

.feedback h3{
    text-transform: uppercase;
    margin: 1px 0 0 auto;
}

/* sign up section */

.signup{
    background-color: cornsilk;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grouper{
    background-color: darkcyan;
    border-radius: 5px;
    padding: 25px 80px;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.button button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

/* this is the footer section */

footer{
    background-color: rgb(161, 237, 196);
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}